body {
    font-size: 16px;
}

.link,
.link:hover {
    color: inherit;
    text-decoration: none;
}

.card-interactive:hover {
    background: #e1f5fe !important;
}

.img-wrapper {
    overflow: hidden;
    height: 200px;
}

.img-wrapper img {
    margin-top: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 100%;
    height: 250px;
}

.card:hover .img-wrapper img {
    margin-top: -50px;
}

.point {
    fill: Navy;
    stroke: #000;
    stroke-width: 1;
}

.container {
    width: 200px;
    height: 200px;
    border: 1px solid #343aa9;
    position: relative;
}


.content {
    position: relative;
    top: 35px;
}


.dialog {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 320px;
    border: 2px solid #CCC;
    text-align: center;
    font-size: 14px;
    background-color: #F4F4F4;
    overflow: auto;
    float: left;
    left: 2px;
}

.close {
    position: absolute;
    max-width: 35px;
    max-height: 35px;
    top: 0;
    right: 0;
}

.tooltip {
    position: absolute;
    font-size: 14px;
    text-align: left;
    background-color: #F4F4F4;
    border-radius: 3px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.tooltip > div {
    padding: 10px;
}

.message {
    position: absolute;
    max-width: 100px;
    max-height: 20px;
    background-color: #CCC;
    top: 0;
    left: 0;
    font-weight: bold;
    color: red;
}
